/web-app/WEB-INF/classes
/prodDb.*
*Db.properties
*Db.script
/stacktrace.log
/test/reports
/logs
/server-work
/*.war
/*.zip
/plugin.xml
/plugins
/web-app/plugins
/target
**.DS_Store
**.project
**.classpath
*.iws
*.ipr
*.iml
*.idea
/grails-ldap-*.zip
/grails-ldap-*.zip.sha1
/plugin.xml
/web-app/WEB-INF
